<a href="https://colab.research.google.com/github/DanielMGuedes/Ling_R_Introduc_EVg/blob/main/Linguagen_R_Tratamento_de_Dados.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Análise de Dados em Linguagem R**
A análise de dados tem grande importância na tomada de decisões, auxiliando instituições na detecção de anomalias, monitoramento de indicadores ou melhoria de processos. Neste Mini-curso, aprenda a utilizar a linguagem R na preparação e exploração dos dados, apresentando os resultados por meio de gráficos e painéis gerenciais.

# **Criando o primeiro Script em R** *2.1*


*   Criar uma variavel
* Conhecer o comando "<-" = recebe(serve para atribuir valores a uma variavel
*   utilizar o comando "print()"



vamos criar uma variavel "msg" e atribuir uma mensagem "Hello Word"

In [1]:
msg <- "Heloo word"

para mostra na tela o valor armazenado na variavel basta  digitar o comando>

print(msg)

In [2]:
print (msg)

[1] "Heloo word"

# Comentar seu Código (Documentação) *2.2*

* Aprender a comentar o código utilizando "#"

> Vamos criar comentários em nosso código

Obs.: Uma boa prática no desenvolvimento de aplicações e códigos, é utilizar de comentários ao longo do cógigo para facilitar a identificação e objetivos daquele código. Chamamos isso de "Documentação do Programa"

In [3]:
msg <- "Heloo word"
print (msg)
# Isso é um comentário

[1] "Heloo word"

observe que a saída após a execução do código, não mostra a mensagem antes de "#"

#Documentação da Função *2.3*

Toda vez que tiver dúvida sobre um parametro ou função que será utilizada é possível consultar a documentação através do comando "?" na frente da função que se tem dúvida.
Ex.:

In [4]:
?print

O Programa tráz como saída a documentação da função "print".

# Instalando Pacotes *2.4*
Uma das grandes vantagens do R são diversos pacotes disponíveis. 
Para usarmos as funções que um pacote oferece, primeiro é necessário instalar o pacote desejado por meio da função “install.packages()” e depois carregá-lo utilizando a função “library()”.
Exemplo:

In [5]:
install.packages ("ggplot2")

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

In [6]:
library(ggplot2)

Após essa instalação e carregamento. Já podemos utilizar as funções do Pacote GGPLOT2

# Estrutura de dados *2.5*

Na linguagem R temos diversas estruturas que permitem armazenar os dados produzidos. Nesse tópico, vamos conhecer essas estruturas e suas principais funções.

**Vetor**
Armazena um conjunto de valores ordenados chamados de elementos. Todos os elementos de um vetor devem ser do mesmo tipo.

**Fator**
Armazena valores categóricos (nominal ou ordinal).

**Lista**
É um tipo especial de vetor, porém é possível adicionar elementos de tipos diferentes.

**Data frame**
É utilizado para organizar elementos em linhas e colunas, semelhante a uma planilha ou base de dados. Além disso, pode ser formado por listas ou vetores.

**Matriz**
Armazena dados tabulares semelhante ao data frame, porém só aceita um tipo de dado.

## Vetores

In [8]:
#Vamos criar o vetor cidade com a função: "c()" - Obs.: A virgula separa cada elemento do vetor. Como estamos digitando strin(texto, precisamos fazer isso entre aspas)
cidade <- c("Brasília", "São Paulo", "Rio de Janeiro", "Porto Alegre")

cidade

[1] "Brasília"       "São Paulo"      "Rio de Janeiro" "Porto Alegre"

In [9]:
#Agora vamos criar outros vetores  "temperatura e regiao" com a função "c() "

temperatura <- c(32,22,35,17)
regiao <- c(1,2,2,3)

### Operações com Vetores

In [10]:
# Acessando o primeiro elemento de um vetor ...
#Comando: NomeVetor[posição]

cidade[1]

#Obs1.: As informações dos vetores sempre vão utilizar []
#Obs2.: Diferente das Outras Linguagens de Programação em "R" a contagem de elementos na mémoria começa em 1.

[1] "Brasília"

In [11]:
# Acessar um intervalo de valores denro do vetor:
# Comando: NomeVetor [x1:x2] (x1 = inicio e x2 = fim)
temperatura[1:3]

[1] 32 22 35

In [12]:
# Copiar um vetor, Para copiar um vetor é necessário ter uma outra variavél que vai receber o vetor
# por exemplo vamos declarar a nova variavél "cidade2" e depois atribuir o vetor cidade nessa variavel. 
# Comando: NovaVariavel <- NomeVetor
cidade2 <- cidade
cidade2

[1] "Brasília"       "São Paulo"      "Rio de Janeiro" "Porto Alegre"

In [13]:
#Excluir um elemento do VETOR.
# para excluir um elemento utilizamos o sinal de - (menos)
#Comando: NomeVetor[-posição]
temperatura[-2]
# Retotnou o vetor temperatura, sem o elemento que estava na posição 2 = 22

[1] 32 35 17

In [14]:
# Alterar/Substituir um elemento do Vetor.
# é necessário declarar o Vetor com a posição que será alterada.
# Comando: NomeVetor[posição <- "Alteração"]

cidade2[3] <- "Belo Horizonte"
cidade2

# A posição 3 do Vetor cidade2 foi alterada de "Rio de Janeiro" para "Belo Horizonte"

[1] "Brasília"       "São Paulo"      "Belo Horizonte" "Porto Alegre"

In [15]:
# Incluir um novo elemento.
#Comando: NomeVetor[NovaPosiçao] <- "NovoElemento"

cidade2[5] <- "Curitiba"
cidade2
# A SAída mostra que o Vetor agora possui 5 elementos

[1] "Brasília"       "São Paulo"      "Belo Horizonte" "Porto Alegre"
[5] "Curitiba"

In [16]:
# Deletar/Apagar o Vetor: (NULL)
# Comando: NomVetor <- NULL

cidade2 <- NULL
cidade2

NULL

## **Fator**

Fatores armazem variáveis categóricas (de categorias) e tipos enumerados.
Para criar os fatos utilizamos a função "factor()"

In [17]:
#Criar a variável "UF", com uma lista de unidades federativas
?factor
UF <- factor(c("DF", "SP", "RJ", "RS"))
UF
# A SAída do comando foi demonstrar as categorias existentes chamadas "Levels"

[1] DF SP RJ RS
Levels: DF RJ RS SP

In [18]:
# A Funcionalidade "fatores ordenados" :
#Parâmetros: "leves" e "ordered".

grau.instrucao <- factor(c("Nível Médio",
                        "Superior",
                        "Nivel Médio",
                        "Fundamental"),
                  levels = c("Fundamental",
                           "Nível Médio",
                            "Superior"),
                  ordered = TRUE)

In [19]:
grau.instrucao

[1] Nível Médio Superior    <NA>        Fundamental
Levels: Fundamental < Nível Médio < Superior

Ao visualizar o fator ordenado "grau.instrucao", que foi criado. É possível verificar a ordem atribuida:O Sinal de menor indica que "Fundamental", vem antes de "Nível Médio" que vem antes de "Superior".

## **Lista**

Vamos aprender a estrutura de uma lista. Para criar uma lista utilizamos: "list()"

In [20]:
?list()
pessoa <- list(sexo = "M", cidade = "Brasília", idade = 20)

pessoa

$sexo
[1] "M"

$cidade
[1] "Brasília"

$idade
[1] 20

In [21]:
#Para acessar um item da lista, utilizamo a notação "Lista[posição]", que ira retornar o valor da posição informada:
# O 1º exemplo retorna o atributo e o valor da lista
# O 2º exemplo retorna apenas o valor da lista
pessoa[1] 
#Ou
pessoa[[1]]

$sexo
[1] "M"

[1] "M"

In [22]:
# Deletar/Apagar uma Lista: (NULL)
# Comando: NomeLista <- NULL

pessoa[["idade"]] <- 22
pessoa

$sexo
[1] "M"

$cidade
[1] "Brasília"

$idade
[1] 22

In [23]:
pessoa[["idade"]] <- NULL
pessoa

$sexo
[1] "M"

$cidade
[1] "Brasília"

In [24]:
# Filtrando elementos da lista
# Neste caso o valor não é deletado da lista.
pessoa[c("cidade", "sexo")]

$cidade
[1] "Brasília"

$sexo
[1] "M"

Uma lista aceita diferentes tipo de dados. No exemplo abaixo vamos criar uma lista com o vetores criados anteriormente.
** Lista de Listas**

In [25]:
# Lista de Listas
cidades <- list(cidade = cidade,
                  temperatura = temperatura,
                  regiao = regiao)

In [26]:
cidades

$cidade
[1] "Brasília"       "São Paulo"      "Rio de Janeiro" "Porto Alegre"

$temperatura
[1] 32 22 35 17

$regiao
[1] 1 2 2 3

## **data.frame**

**Vamos aprender a criar data.frame**

Um data.frame é uma estrutura que organiza elementos semelhantes a uma planilha ou base de dados.

In [27]:
# Neste exemplo criamos um data.frame com os VETORES "cidade" e "temperatura"
df <-data.frame(cidade, temperatura)
df

  cidade         temperatura
1 Brasília       32
2 São Paulo      22
3 Rio de Janeiro 35
4 Porto Alegre   17

In [28]:
#Criando um data.frame com a LISTA cidades2
df2 <- data.frame(cidades)
df2

  cidade         temperatura regiao
1 Brasília       32          1
2 São Paulo      22          2
3 Rio de Janeiro 35          2
4 Porto Alegre   17          3

As saídas mostram o número de Linhas e numero de colunas, respectivamente(4 x 2) e (4 x 3)

### **Operações com data.frame**

In [29]:
# Para filtrar uma informação digitamos o nome do data.frame e entre colchetes colocamos a Linha e a Coluna que desejamos
# Comando: data.frame[Linha,Coluna]
df[1,2]

[1] 32

In [30]:
# No exemplo como não colocamos a posição da Linha o filtro trouxe toda a Coluna 1 (posição 1)
df[,1]

[1] "Brasília"       "São Paulo"      "Rio de Janeiro" "Porto Alegre"

In [31]:
# Como não informamos a posição da coluna, apenas a Linha 1, o filtro trouxe TODA a linha 1
df[1,]

  cidade   temperatura
1 Brasília 32

In [32]:
# Selecionando as 3 primeiras linhas, da 1ª e 3ª coluna
df2 [c(1:3), c(1,3)]

  cidade         regiao
1 Brasília       1
2 São Paulo      2
3 Rio de Janeiro 2

In [33]:
# Verificar o nome das Colunas:
names(df)

[1] "cidade"      "temperatura"

In [34]:
# Verificar o numero de Linhas e de Colunas:
dim(df)
# O resultado mostra que o data.frama possui 4 linhas e 2 colunas (4x2)

[1] 4 2

In [35]:
#Ver os TIPOS dos dados das colunas:
str(df)
# A saida mostra que ac COluna Cidade é do tipo: "chr" e temperatura é do tipo "num"

'data.frame':	4 obs. of  2 variables:
 $ cidade     : chr  "Brasília" "São Paulo" "Rio de Janeiro" "Porto Alegre"
 $ temperatura: num  32 22 35 17

In [36]:
# Para buscar os daods de uma coluna, existem duas formas básicas:
# Comandos: "data.frame$NomeColuna" ou " data.frame['NomeColuna']"
df$cidade
#A saida da consulta é apenas os dados na COLUNA

[1] "Brasília"       "São Paulo"      "Rio de Janeiro" "Porto Alegre"

In [37]:
df['cidade']
# Aqui além dos dados da coluna vemos também outras informações do data.frama como:
# dimensão, nome do dataframe e tipo da coluna.

  cidade
1 Brasília
2 São Paulo
3 Rio de Janeiro
4 Porto Alegre

## **Matrizes**

**Vamos aprender a criar matrizes**

As matrizes também organizam elementos com em uma planilha ou base de dados. A diferença entre o DataFrame é que a matrix só aceita um tipo de dados.

In [38]:
#Criando Matrizes: Comando: "matrix()"
matrize <- matrix(seq(1:9), nrow = 3)
matrize
# A saida mostra: Uma Matrix, 3x3, com tipo "int"
# Os dados da Matriz são a sequência de 1 ao 9 "seq(1:9)", distribuido em 3 linhas(nrow=3)

     [,1] [,2] [,3]
[1,] 1    4    7
[2,] 2    5    8
[3,] 3    6    9

In [39]:
# vamos criar outra Matriz e especificar a quantidade de colunas EM 5 e dar nome as colunas
# o parâmetro "byrow = TRUE" inidca que a matriz deverá ser preenchida por linhas
# e o dimnames determina o nome das colunas
 matrize2 <- matrix(seq(1:25),
                    ncol = 5,
                    byrow = TRUE,
                    dimnames = list(c(seq(1:5)),
                                    c('A','B','C','D','E')
                                    )
                    )
matrize2

  A  B  C  D  E
1  1  2  3  4  5
2  6  7  8  9 10
3 11 12 13 14 15
4 16 17 18 19 20
5 21 22 23 24 25

### Filtrar os Dados da matrix
Para filtrar os dados devemos informar a liha e as colunas entre colchetes

In [40]:
#filtrando a matriz
matrize2[c(1:2), c('B', 'C')]
# O resultado traz os dados da coluna B e C nas linhas 1 e 2

  B C
1 2 3
2 7 8

Essa são as funcionalidades básicas na linguagem R para armazenar estrututuras de dados desse estudo:
* Matrizes
* Data Frames
* Listas
* Fatores
* Vetores